<!-- To get the minimal html syntax just type html and then select html 5 -->

<!-- The below code is not normal html file but pug will eventually compile our code to normal html in the end. -->

<!-- INDENTATION MATTERS ALOT IN PUG. We arrange our code based on indentation.-->

<!-- To create a html element with a particular class we write  html_tag.class_name -->

<!-- To access the data from the shop.js file we use the custom syntax pug gives us.-->

<!-- To access just the text we use hash{} and put any value we pass in to our view.-->

<!-- The div will become just .class_name -->

<!-- For mutliple classes we concatenate them seperated by dots-->

<!-- To itterate through all the element which are in the dynamci content we create a loop.-->

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}   
        link(rel="stylesheet", href="/css/main.css")
    body 
        header.main-header 
            nav.main-header_nav
                ul.main-header_item-list
                    li.main-header_item
                        a.active(href="/") Shop 
                    li.main-header_item
                        a(href="/admin/add-product") Add Product


        main 
            if prods.length>0
                .grid
                    each product in prods
                        article.card.product-item
                            header.card__header
                                h1.product__title #{product.title}
                            div.card__image
                                img(src=`${product.image}`, alt="product image")
                            div.card__content
                                h2.product__price $#{product.price}
                                p.product__description #{product.description}
                            div.card__actions
                                button.btn Add to Cart

            else 
                h1 No products available :(.

                

<!-- With this code the template wouldn't be rendered because we do not tell express to do so. We have only told express to use this template when we try to render this template.-->
                         
