<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if(errorMessage&&errorMessage.length>0) { %> 
                    <div class="user-message user-message--error">
                        <h4>
                            <%= errorMessage %> 
                        </h4>
                    </div>
                <% } %> 
                <div class="form_container">
                    <form class="product-form"
                        action="/admin/<% if(editing) { %>edit-product<% } else { %>add-product<% } %> " method="post" enctype="multipart/form-data">
                        <div class="form-control">
                            <label for="title">Title</label>
                            <input class="<%= validationErrors.find(e=> e.param==='title' ) ? 'invalid': '' %>" type="text" name="title" id="title"
                                value="<% if(editing||hasError) { %><%= product.title %><% } %>">
                        </div>
                        <div class="form-control">
                            <label for="price">Price</label>
                            <input class="<%= validationErrors.find(e=> e.param==='price' ) ? 'invalid': '' %>" type="number" step="any" name="price" id="price"
                                value="<% if(editing||hasError) { %><%= product.price %><% } %>">
                        </div>
                        <div class="form-control">
                            <label for="description">Description</label>
                            <input class="<%= validationErrors.find(e=> e.param==='description' ) ? 'invalid': '' %>" type="text" name="description" id="description"
                                value="<% if(editing||hasError) { %><%= product.description %><% } %>">
                        </div>
                        <!-- <div class="form-control">
                            <label for="image">Image-Link</label>
                            <input class="<%= validationErrors.find(e=> e.param==='image' ) ? 'invalid': '' %>" type="text" name="image" id="image"
                                value="<% if(editing||hasError) { %><%= product.image %><% } %>">
                        </div> -->
                        <div class="form-control">
                            <label for="image">Image</label>
                            <input type="file" name="image" id="image">
                        </div>

                        <input type="hidden" name="id" id="id" value="<% if(editing) { %><%= product._id %><% } %>">

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        
                        <button class="sub-btn bn5" type="submit">
                                <% if(editing) {%>Update product<% }else { %> Add Product <% } %>
                        </button>
                    </form>
                </div>
            </main>

            <%- include('../includes/end.ejs') %>