<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if(prods.length>0) { %>
                    <div class="grid">
                        <% prods.forEach(product=>{ %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="/<%= product.image%>" alt="A Book">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">
                                        ₹ <%= product.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn bn5">Edit</a> 
                                    <!-- We remove the form since we no longer want to send a post request. --> 
                                    <input type="hidden" name="id" value="<%=product._id%>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn bn5" type="button" onclick="deleteProduct(this)">Delete</button>
                                </div>
                            </article>
                            <% }) %>
                    </div>
                    <%- include('../includes/pagination.ejs',{
                        currentPage:currentPage,
                        nextPage:nextPage,
                        previousPage:previousPage,
                        lastPage:lastPage,
                        hasNextPage:hasNextPage,
                        hasPreviousPage:hasPreviousPage
                    }) %> 
                    <% } else { %>
                        <h1>My products</h1>
                        <p>List of all the products.....</p>
                        <% } %>
            </main>
            <script src="../js/admin.js"></script>
            <%- include('../includes/end.ejs') %>