<%- include('../includes/head.ejs') %> 
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>

        <% if(products.length>0) { %>
            <ul>
                <% products.forEach(p=>{ %>
                    <li>
                        <p style="font-size: 1.5rem;"><%= p.productId.title %> (<%= p.quantity %>)</p>
                        <form action="/cart-delete-item" method="post">
                            <input type="hidden" name="id" value="<%= p.productId._id %>"/>
                            <input type="hidden" name="price" value="<%= p.productId.price %>"/>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn bn5" type="submit">Delete</button>
                        </form>
                    </li>
                <% }); %>  
            </ul> 
            <form action="/create-order" method="post" style="display: flex;justify-content: center">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn bn5">Checkout</button>
            </form>
        <% } else { %>
            <h1>No products in the cart</h1>
        <% } %> 

    </main>


<%- include('../includes/end.ejs') %>